
body {
  background-color: rgb(170, 170, 84);
  
}
.empty {
  margin: 0 auto;
  height: 400px;
  width: 400px;
}
#h1 {
  margin: 0 auto;
  height: 400px;
  width: 800px;
 
  display: flex;
  justify-content: center;
  align-items: center;
}
h1 {
  width: 800px;
  height: 200px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  
  font-size: 150px;
  color: olive;
  font-weight: bold;
font-family: 'Schoolbell', cursive;
padding: 10px;
}
.themes {
  margin: 0 auto;
  height: 400px;
  width: 400px;
  display: grid;
  gap: 100px 100px;
  place-items: center;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  background-color: rgb(170, 170, 84);
}
.sesame {
 
  display: flex;
  justify-content: center;
  align-items: center;

  height: 200px;
  width: 200px;
  cursor: pointer;
}
.pokemon {
  
  display: flex;
  justify-content: center;
  align-items: center;
  
  height: 200px;
  width: 200px;
  cursor: pointer;
}
.sesame img{ 
  border: 30px solid rgb(253, 237, 148);
  margin: 20 auto;
  height: 200px;
  width: 200px;
  border-radius: 30px;
}
.pokemon img {
  margin: 20 auto;
  height: 200px;
  width: 200px;
  border: 30px solid rgb(253, 237, 148);
  border-radius: 30px;
}


.blink {
  animation: blink 1s linear infinite;
}
@keyframes blink {
  50% {
    opacity: 0;
  }
}

.container {
  margin: 0 auto;
  width: 700px;
  height: 800px;
  background-color: rgb(170, 170, 84);
  display: grid;
  border-radius: 10px;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  
}

.square {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(253, 237, 148);
  border: none;
  cursor: pointer;
  font-size: 100px;
  font-family: 'Sevillana';
  color: olive;
  border: 10px solid olive;
  border-radius: 10px;
}
.flip {
  transition: 0.6s;
  transform-style: preserve-3d;
  transform: rotateY(180deg);
}

#restart {
  margin: 20px auto;
  display: flex;
  justify-content: center;
  width: 150px;
  height: 75px;
  font-size: 40px;
  cursor: pointer;
  background-color:  rgb(253, 237, 148);
  color: olive;
  border: 10px solid olive;
  font-family: 'Schoolbell', cursive;
  border-radius: 15px;
  padding: 0;
  
}
#play {
  margin: 50px auto;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
  width: 200px;
  font-size: 50px;
  font-family: 'Schoolbell', cursive;
  cursor: pointer;
  background-color:  rgb(253, 237, 148);
  color: olive;
  border: 10px solid olive;
  border-radius: 10px;
  padding: 10px;
}
.stuff {
  margin-bottom: 20px;
  display: flex;
  justify-content: space-around;
  font-family: 'Schoolbell', cursive;
  font-size: 40px;
  color:  rgb(253, 237, 148);
}
.duration {
  border: 3px solid olive;
  border-radius: 15px;
  padding: 10px;
  width: 160px;
  height: 60px;
  text-align: center;
}
.moves {
  border: 3px solid olive;
  border-radius: 15px;
  padding: 10px;
  width: 160px;
  height: 60px;
  text-align: center;
}
.rules {
  margin: 0 auto;
  font-family: 'Schoolbell', cursive;
  font-size: 40px;
  color: olive;
  background-color:  rgb(253, 237, 148);
  border: 10px solid olive;
  border-radius: 10px;
}

.frame {
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 500px;
  width: 700px;
 
}