
body {
  background-color: rgb(170, 170, 84);
}
h1 {
  text-align: center;
  height: 120px;
  font-size: 50px;
  color: white;
}
.themes {
  margin: 0 auto;
  height: 400px;
  width: 400px;
  display: grid;
  gap: 10px 10px;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  background-color: rgb(170, 170, 84);
 
}
.sesame {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 10px solid rgb(253, 237, 148);
  height: 200px;
  width: 200px;
  cursor: pointer;
}
.pokemon {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 10px solid rgb(253, 237, 148);
  height: 200px;
  width: 200px;
  cursor: pointer;
}

.squares {
  margin: 0 auto;
  width: 600px;
  height: 600px;
  background-color: rgb(170, 170, 84);
  display: grid;
  gap: 10px 10px;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.square {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(253, 237, 148);
  border: none;
  cursor: pointer;
  font-size: 100px;
  font-family: 'Sevillana';
  color: olive;
}
.stuff {
  margin: 0 auto;
  height: 100px;
  width: 600px;
  display: grid;
  gap: 10px 10px;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  background-color: rgb(170, 170, 84);
  font-size: 20px;
  color:  rgb(253, 237, 148);
}
#restart {
  cursor: pointer;
  background-color:  rgb(253, 237, 148);
  color: olive;
  border: 10px solid olive;
}
#play {
  margin: 0 auto;
  display: flex;
  justify-content: center;
  font-size: 50px;
  cursor: pointer;
  background-color:  rgb(253, 237, 148);
  color: olive;
  border: 10px solid olive;
  border-radius: 10px;
  padding: 10px;
}